body {
  background-color: rgb(107, 150, 176);
  overflow-x: hidden;
}

body .base {
  z-index: 90;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: rgb(107, 150, 176);
  width: 0px;
  height: 0px;
  border-top-right-radius: 100%;
}

body .base .menu {
  z-index: 100;
  background-color: rgb(107, 150, 176);
  position: absolute;
  left: 0px;
  width: 100px;
  aspect-ratio: 1;
  bottom: 0;
  border-top-right-radius: 200px;
  cursor: pointer;
}

body .base .menu .icon {
  position: absolute;
  width: 25px;
  height: 25px;
  top: 65%;
  left: 55%;
  transform: translate(-100%, -100%);
}

.menu_icon {
  width: 25px;
  height: 25px;
  transform: translate(135%, 150%);
}

body .base .menu .icon:before,
body .base .menu .icon:after {
  content: '';
  transform: rotate(0deg);
}

body .base .menu .icon .bar,
body .base .menu .icon:before,
body .base .menu .icon:after {
  position: absolute;
  height: 2px;
  left: 0px;
  right: 0px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 1);
}

body .base .menu .icon .bar {
  opacity: 1;
  top: 10px;
}

body .base .menu .icon:before {
  top: 0px;
}

body .base .menu .icon:after {
  top: initial;
  top: 20px;
}

body .base .icons {
  z-index: 98;
  position: absolute;
  top: 0px;
  left: 0px;
}

body .base .icons>* {
  position: absolute;
  font-size: 40px;
}

body .base .icons .fa-user {
  top: 35px;
  left: 0px;
  transition-delay: 0.2s;
}

body .base .icons .fa-calendar-o {
  top: 0px;
  left: 0px;
  transition-delay: 0.1s;
}

body .base .icons .fa-tachometer {
  top: 0px;
  left: 35px;
}

body .base .section {
  z-index: 96;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 0px;
  width: 0px;
  transform-origin: 100% 100%;
  transform: rotate(112deg);
}

body .base .section .cover1 {
  transform-origin: 100% 100%;
}

body .base .section .cover1,
body .base .section .cover1 .cover2,
body .base .section .cover1 .cover2 .content {
  position: absolute;
  width: 150px;
  height: 150px;
}

body .base .section .cover1,
body .base .section .cover1 .cover2 {
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%) rotate(4deg);
  overflow: hidden;
  pointer-events: all;
}

body .base .section .cover1 .cover2 {
  transform: translate(50%, -50%) rotate(-8deg);
  transform-origin: 0% 100%;
}

body .base .section .cover1 .cover2 .content {
  width: 150px;
  height: 150px;
  border-radius: 100%;
  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
  pointer-events: auto;
}

body .base .section-static {
  z-index: 94;
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  transform-origin: 0% 0%;
}

body .base .section-static:hover {
  background-color: #eaeaea;
}

body .base .section-static.top {
  transform: rotate(-45deg);
  border-bottom-right-radius: 400px;
}

body .base .section-static.bottom {
  transform: rotate(45deg);
  border-bottom-right-radius: 400px;
}

body .base.close {
  width: 150px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
}

body .base.close .menu {
  width: 100px;
  aspect-ratio: 1;
  position: absolute;
  bottom: 0px;
  left: 0px;
  top: 34%;
}

body .base.close .menu .icon .bar,
body .base.close .menu .icon:before,
body .base.close .menu .icon:after {
  background-color: #fff;
}

body .base.close .menu .icon .bar {
  opacity: 0;
}

body .base.close .menu .icon:before {
  top: 10px;
  transform: rotate(-45deg);
}

body .base.close .menu .icon:after {
  top: 10px;
  transform: rotate(45deg);
}

body .base.close .icons {
  position: absolute;
  top: 0px;
  left: 0px;
}

body .base.close .icons>* {
  width: 24px;
  aspect-ratio: 1;
  position: absolute;
  font-size: 40px;
  color: #21264b;
  pointer-events: all;
  cursor: pointer;
}

body .base.close .icons .fa-user {
  top: 35px;
  left: 200px;
}

body .base.close .icons .fa-calendar-o {
  top: 141px;
  left: 141px;
  color: #fff;
  transition-delay: 0.65s;
}

body .base.close .icons .fa-tachometer {
  top: 200px;
  left: 35px;
  transition-delay: 0.8s;
}

.favourite_img {
  left: 20px;
  top: 20px;
}

.ticket_img {
  top: 50px;
  left: 80px;
}

.calendar_img {
  top: 110px;
  left: 110px;

}

body .base.close .section .cover1 {
  transform-origin: 100% 100%;
}

body .base.close .section .cover1,
body .base.close .section .cover1 .cover2,
body .base.close .section .cover1 .cover2 .content {
  position: absolute;
  width: 300px;
  height: 300px;
  aspect-ratio: 1;
}

body .base.close .section .cover1 {
  bottom: 50%;
  left: 50%;
  overflow: hidden;
  transition: transform 0.5s ease-in 0.5s;
}

body .base.close .section .cover1 .cover2 {
  transform: translate(50%, -50%) rotate(-32deg);
  transform-origin: 0% 100%;
}

body .base.close .section .cover1 .cover2 .content {
  border-radius: 100%;
  background: linear-gradient(81.13deg, #0B71A7 75.71%, rgba(0, 65, 176, 0) 97.13%);

  top: 100%;
  left: 0%;
  transform: translate(-50%, -50%);
}

body .base.close .section .cover1 .cover2 .content:hover {
  background: linear-gradient(81.13deg, #0B71A7 75.71%, rgba(0, 65, 176, 0) 97.13%);

}

body .base.close .section-static {
  width: 300px;
  height: 300px;
}